VITE_API_KEY="Your API Key"
VITE_AUTH_DOMAIN="Your Auth Key"
VITE_PROJECT_ID="Your PID Key"
VITE_STORAGE_BUCKET="Your StorageBUCKET Key"
VITE_MESSAGING_SENDER_ID="Your MSENDER Key"
VITE_APP_ID="Your APPID Key"
VITE_MEASUREMENT_ID="Your MEASUREMENTID Key"